*{
    margin: 0;
}
#Nav-container{
    display: flex;
    justify-content: space-around;
    color: white;
    background-color: black;
    padding: 20px;
}
#Nav-container #items{
    display: flex;
    gap: 50px;
    padding-top: 10px;
}
button{
    width: 100px;
    height: 30px;
}
a{
    text-decoration: none;
    color: white;
}
#logo{
    color: rgb(165, 164, 164);
}