#card-container{
   display: flex; 
flex-wrap: wrap;
justify-content: center;
margin-top: 100px;
gap: 20px;

  
}
#card{
    height: 520px;
    width: 400px;
    text-align: center;
   box-shadow: 0 0 10px black;
    padding: 30px;
}
.bgImage{
    height: 500px;
    padding: 50px;
    background-size: 1000px;
}
button{
    width: 150px;
}
#card h2{
    font-size: 20px;    
}